@model IEnumerable<CoinExchange.Models.Database.Model.Wallet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<!--
<form asp-action="Index" method="post">
    @*@Html.DropDownListFor(m => m.Wallet, Model.Wallet)*@
</form>
-->



